*,::before,::after{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
}

.nav{
    padding: 1.5rem 0;
    width:70vw;
    margin:auto;
    display: flex;
    flex-direction: row-reverse;
}

.nav__link{
    display: inline-block;
    margin-right: 0;
    text-decoration: none;
    color: rgb(60, 58, 58);
    margin-right: .5rem;
}

.nav__link:hover{
    color: grey;
}

.container{
    margin-top: 3rem;
    width: 100vw;
    height: calc(100vh - 8rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    /* background-color: #b4a1a1; */
}

.search{
    width: 70vw;
    height: fit-content;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(210, 210, 212, 0.3), -5px -5px 5px rgba(210, 210, 212, 0.1);
}

.search__input{
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap:.5rem;
    justify-content: space-between;
    align-items: baseline;
}

.search__input span{
    flex-grow: 1;
    display: flex;
}

.search__input span label{
    white-space: nowrap;
    color: grey;
    border: 1px solid rgb(249, 246, 246);
    padding: 0.75rem;
}

.search__input span select{
    flex-grow: 1;
    font-size: medium;
    padding: 0.75rem;
}

.search__input input{
    flex-grow: 2;
    padding: 0.75rem;
    font-size: medium;
}


table{
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #dddddd;
    padding: 0.5rem;
}

th{
    background-color: rgb(71, 121, 121);
    color: #FFFFFF;
}

th:nth-child(1){
    width: 15%;
}

th:nth-child(3){
    width: 20%;
}

th:nth-child(4){
    width: 20%;
}

tr:hover{
    background-color: rgb(182, 201, 201);
}

.hide{
    display: none;
}


/* Media Queries */

@media (max-width:830px){
    .container{
        padding: 1rem;
    }

    .search, .nav{
        width: 100vw;
    }

    .nav{
        padding-right: 1.5rem;
    }
}

@media (max-width:290px){
    .container{
        margin-top: 1rem;
    }

    .search{
        box-shadow: none;
    }

    .search__table{
        overflow: scroll;
    }
}