/* ============ CSS Variables ============ */
:root{
    --header-height: 3.5rem;
    /* color */
    --grey-color: #696666;
    --grey-color-dark: #3e3d3d;
    --grey-color-light: #ccc;
    --blue-color: #588bde;
    --blue-color-light: #e3f2fd;
    --white-color: #fff;

}


/* ============ Base ============ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    /* background-color: var(--blue-color-light); */
    color: var(--grey-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    max-width:100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey-color);
    cursor: pointer;
}

i{
    font-size: 1.2rem;
}

button{
    background-color: var(--white-color);
    color: var(--grey-color-dark);
    padding: 0.5rem 1rem;
    border: 1px solid var(--grey-color-light);
    border-radius: 0.2rem;
    /* font-size: 0.8rem; */
}

button:hover{
    background-color: var(--grey-color-light);
}


/* ============ Reusable Class============ */

.title{
    color: var(--grey-color-dark);
    margin-bottom: 1.25rem;
}


/* ============ Header ============ */
.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    z-index: 100
}

.nav{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.nav__menu{
    display: inline-flex;
}

.nav__list{
    font-weight: 400;
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}

.nav__link:hover{
    text-decoration: underline;
}

/* ============ Container ============ */
.container{
    max-width: 900px;
    margin: 1.5rem;
    padding: 1rem;
    background-color: var(--white-color);
    /* border: 1px solid var(--grey-color-light);/ */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), -5px -5px 10px rgba(0, 0, 0, 0.07);
}

.container.disable :where(.editor, .reset-btn, .save-btn){
    opacity: 0.6;
    pointer-events: none;
}


.wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 1.25rem;
    gap: 1rem;
    /* border: 1px solid red; */
}

/* == Editor Section == */
.editor{
    padding: 1rem;
    border: 1px solid var(--grey-color-light);
    border-radius: 0.5rem;
}

/* filter */
.filter__title, .rotate__title{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.filter .active{
    background-color: var(--blue-color);
    color: var(--white-color)
}

.filter__options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

.filter__slider{
    margin: 1rem 0;
}

.filter__info{
    display: flex;
    justify-content: space-between;
}

.filter__slider input{
    display: block;
    width: 100%;
}


/* rotate */

.rotate__options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
}

/* == Preview Section == */
.preview{
    /* border: 1px solid var(--grey-color-light); */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fit;
}

.preview__img{
    border-radius: 0.5rem;
}

/* ==== Controls Section ==== */
.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.controls button{
    text-transform: uppercase;
}

.reset-btn{
    border-width: 2px;
}

.choose-btn{
    background-color: var(--grey-color);
    color: var(--white-color);
}

.save-btn{
    background-color: var(--blue-color);
    color: var(--white-color);
}

/* ============ Media Queries ============ */
@media screen and (max-width: 768px){
    .wrapper{
        grid-template-columns: 1fr;
    }

    .editor{
        grid-row: 2/3;
    }

    .controls .row{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap; 
    }

    .reset-btn, .save-btn, .choose-btn{
        flex-basis: 100%;
        margin-bottom: 0.5rem;
    }
}